{
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true,
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "semi": 2,
    "no-console": 0
  }
}
